[submodule "references/cqrs-es-example-go"]
	path = references/cqrs-es-example-go
	url = git@github.com:j5ik2o/cqrs-es-example-go.git
[submodule "references/event-store-adapter-go"]
	path = references/event-store-adapter-go
	url = git@github.com:j5ik2o/event-store-adapter-go.git
[submodule "references/cqrs-es-spec-kit-js"]
	path = references/cqrs-es-spec-kit-js
	url = git@github.com:j5ik2o/cqrs-es-spec-kit-js.git
